/dist
/node_modules
/storage/*.key
/vendor
/public/assets/img/users
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
.editorconfig
zsh.exe.stackdump
coba.js
/public/motion-file
/public/audit-file
/public/kontak-karyawan-file
/public/flok-gagal-produksi
/public/data-evaluasi-file
/public/kunjungan-bakul
.vscode
**/.DS_Store
